<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.app.dao.BabyMapper">
    <resultMap id="BaseResultMap" type="com.qfedu.app.entity.Baby">
        <id column="baby_id" jdbcType="INTEGER" property="babyId"/>
        <result column="baby_uid" jdbcType="INTEGER" property="babyUid"/>
        <result column="baby_img" jdbcType="VARCHAR" property="babyImg"/>
        <result column="baby_name" jdbcType="VARCHAR" property="babyName"/>
        <result column="baby_birthday" jdbcType="DATE" property="babyBirthday"/>
        <result column="flag" jdbcType="INTEGER" property="flag"/>
    </resultMap>
    <resultMap id="BaseResultMap2" type="com.qfedu.app.vo.BabyConfigVo">
        <id column="baby_id" jdbcType="INTEGER" property="babyId"/>
        <result column="baby_img" jdbcType="VARCHAR" property="babyImg"/>
        <result column="baby_name" jdbcType="VARCHAR" property="babyName"/>
        <result column="baby_birthday" jdbcType="DATE" property="babyBirthday"/>
        <result column="photo_babyid" jdbcType="INTEGER" property="photoBabyid" />
        <result column="photo_img" jdbcType="VARCHAR" property="photoImg" />
    </resultMap>
    <sql id="Base_Column_List">
    baby_id, baby_uid, baby_img, baby_name, baby_birthday, flag
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_baby
        where baby_id = #{babyId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_baby
    where baby_id = #{babyId,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.qfedu.app.entity.Baby">
    insert into t_baby (baby_id, baby_uid, baby_img,
      baby_name, baby_birthday, flag
      )
    values (#{babyId,jdbcType=INTEGER}, #{babyUid,jdbcType=INTEGER}, #{babyImg,jdbcType=VARCHAR},
      #{babyName,jdbcType=VARCHAR}, #{babyBirthday,jdbcType=DATE}, #{flag,jdbcType=INTEGER}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.qfedu.app.entity.Baby">
        insert into t_baby
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="babyId != null">
                baby_id,
            </if>
            <if test="babyUid != null">
                baby_uid,
            </if>
            <if test="babyImg != null">
                baby_img,
            </if>
            <if test="babyName != null">
                baby_name,
            </if>
            <if test="babyBirthday != null">
                baby_birthday,
            </if>
            <if test="flag != null">
                flag,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="babyId != null">
                #{babyId,jdbcType=INTEGER},
            </if>
            <if test="babyUid != null">
                #{babyUid,jdbcType=INTEGER},
            </if>
            <if test="babyImg != null">
                #{babyImg,jdbcType=VARCHAR},
            </if>
            <if test="babyName != null">
                #{babyName,jdbcType=VARCHAR},
            </if>
            <if test="babyBirthday != null">
                #{babyBirthday,jdbcType=DATE},
            </if>
            <if test="flag != null">
                #{flag,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.qfedu.app.entity.Baby">
        update t_baby
        <set>
            <if test="babyUid != null">
                baby_uid = #{babyUid,jdbcType=INTEGER},
            </if>
            <if test="babyImg != null">
                baby_img = #{babyImg,jdbcType=VARCHAR},
            </if>
            <if test="babyName != null">
                baby_name = #{babyName,jdbcType=VARCHAR},
            </if>
            <if test="babyBirthday != null">
                baby_birthday = #{babyBirthday,jdbcType=DATE},
            </if>
            <if test="flag != null">
                flag = #{flag,jdbcType=INTEGER},
            </if>
        </set>
        where baby_id = #{babyId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.qfedu.app.entity.Baby">
    update t_baby
    set baby_uid = #{babyUid,jdbcType=INTEGER},
      baby_img = #{babyImg,jdbcType=VARCHAR},
      baby_name = #{babyName,jdbcType=VARCHAR},
      baby_birthday = #{babyBirthday,jdbcType=DATE},
      flag = #{flag,jdbcType=INTEGER}
    where baby_id = #{babyId,jdbcType=INTEGER}
  </update>

    <!--通过baby家长id查找babyinfo，自定义VO类-->
    <select id="selectBabyInfoById" resultMap="BaseResultMap2" parameterType="java.lang.Integer">
      SELECT b.baby_id,b.baby_img,b.baby_name,b.baby_birthday,p.photo_id,p.photo_img FROM t_baby b
    INNER JOIN t_photo p
    ON b.baby_id = p.photo_babyid
    WHERE b.baby_uid =#{uid,jdbcType=INTEGER}
  </select>

</mapper>